<div class="page-header">
  <h1>State Guidelines</h1>
</div>
<p>Choose a state below to see specific voter registration guidelines.</p>
<div class="row">
  <div class="span12">
    <% @states.each do |state| %>
      <div class="state_tile">
        <h2 class="stateface_chart"><%=link_to stateface_tag(state.state), guideline_path(state.state) %></h2>
        <p><%= link_to state.name, guideline_path(state.state) %></p>
      </div>
    <% end %>
  </div>
</div>
