<div class="page-header">
  <h1>Register to Vote</h1>
</div>
<div class="row">
  <div class="span12">
    <% @states.each do |state| %>
      <div class="state_tile">
        <h2 class="stateface_chart"><%=link_to stateface_tag(state.state), register_new_path(state.state) %></h2>
        <p><%= link_to state.name, register_new_path(state.state) %></p>
      </div>
    <% end %>
  </div>
</div>

